
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}
.navbar-brand{
    font-size: 1.53rem ;
    font-weight: 600;
}

.navbar-expand-lg .navbar-nav .nav-link {
    /*
    margin-right: 4.0rem;
    margin-left: -0.89rem;
*/
    font-weight: 500;
    margin-left: 2.6rem;
    

}

/* bg pic */
.carousel-inner img {

    width: 100%;
    height: 53vh;
    margin-top: 0%;
    margin-right: 0%;
    filter: blur(1.4px);
    
}

/* bg pic */

div .carousel-caption.d-none.d-md-block {
    margin-left: -1.5%;
    margin-bottom: -1%;
}
    

.navbar-expand-lg .navbar-nav .nav-link :hover {

    background-color: blue;
}
.carousel-inner {
    width: 92%;
    overflow: hidden;
}


    .carousel-item .h6{
        color: #000;
    }



/* headings */


/* headings */




.form-control{
    padding: 0.9rem 0.75rem;
}


    
/* login form */



#paragraph{
    margin-left: 20.7%;
    margin-top: 2.1%;
    font-size: 10.2px;

}

button.btn.btn-primary{
    width: 59.5%;
    margin-top: 3.5%;
    margin-left: 19.9%;
    cursor: pointer;
    text-align: center;
    background-color: #0a58ca;

}



/* login form */



    /* for responsie na icon at mobile screen*/
    @media(max-width:415px) and (min-width:279px) {

        .navbar-expand-lg .navbar-nav .nav-link {
            margin-left: 0.8rem;
        }
        
    }
    /* end for responsie na icon at mobile screen*/



    /* Footer section css */

.footer {
    padding: 100px 20px 10px;
    background-image: linear-gradient(#000000, #4f4d4f);
    color: #ffffff;
}
.footer h4 {
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .footer p {
    font-size: 14px;
    text-align: left;
    padding-right: 35px;
  }
  
  p > .fas {
    color: #ffffff;
  }
  
  .footer .row .fas,
  .fab {
    padding-right: 15px;
    font-size: 15px;
  }
  
  .footer hr {
    margin-top: 10px;
    background: #efefef;
  }
  
  .footer .copyright {
    text-align: center;
  }

  /* Footer section css */


  @media (max-width:767px) and (min-width:279px)
  {
    div.col-mb-3 {
        width: 96%;
        margin-top: -0.4%;
        margin-left: 2%;
    }

    div.col-mb-4.form-check {
        width: 20%;
        margin-top: 3.6%;
        margin-left: 2%;
    }


    button.btn.btn-primary{
        width: 100%;
        margin-top: 0.28%;
        margin-left: 0%;
        cursor: pointer;
        text-align: left;
        background-color:  #0a58ca ;
    }

    #paragraph {
        margin-left: 0.2%;
        margin-top: 0.7%;
        font-size: 12px;
    }

    .paragraph1 {
        margin-top: 2%;
        margin-left: 2.2%;
    }

    p.h3{
        font-size: 18px;
    }
    p.h6{
        font-size: 13.5px;
    }
  }


  @media (max-width:1115px) and (min-width:767px){

    #paragraph {
        margin-left: 16.6%;
        margin-top: 2.1%;
        font-size: 8.7px
    }

    button.btn.btn-primary{
        width: 73.7%;
        margin-top: 3.5%;
        margin-left: 16.2%;
        cursor: pointer;
        text-align: center;
        background-color: #0a58ca;
    
    }

    
  }





    



    